[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytorch = "*"
transformers = "*"
mlx = "*"
tqdm = "*"
numpy = "*"
pandas = "*"
mlx_lm = "*"

[dev-packages]

[requires]
python_version = "3.9"
